<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telusko</title>
</head>
<body bgcolor="yellow">
<ul>
	<li><a href="/">home</a></li>
    <li><a href="#">Add</a></li>
	<li><a href="/sum">sum</a></li>
	<li><a href="/divide">divide</a></li>
	<li><a href="/multiplay">multiplay</a></li>
    <li><a href="/t1">t1</a></li>
    <li><a href="/t2">t2</a></li>
    <li><a href="/t3">t3</a></li>
    <li><a href="/t4">t4</a></li>
    <li><a href="/t5">t5</a></li>
    <li><a href="/t6">t6</a></li>
    <li><a href="/t7">t7</a></li>
    <li><a href="/t8">t8</a></li>
</ul>
    {% block content %}

        {% endblock %}
</body>
</html>