<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telusko</title>
</head>
<body bgcolor="yellow">
<ul>
	<li><a href="/">home</a></li>
    <li><a href="/Add">Add</a></li>
	<li><a href="/sum">sum</a></li>
	<li><a href="/divide">divide</a></li>
	<li><a href="/multiplay">multiplay</a></li>
</ul>
    {% block content %}

        {% endblock %}
</body>
</html>